@CHARSET "ISO-8859-1";

:root{
	--main-color:#f8b02a;
	--header-color:#292b2c;
}

html,body,.container-fluid {
	height: 100%;
}


.small-font{
	font-size: .9rem;
}

.full-height {
	height: 97%;
}

.half-height {
	height: 50%;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.homepage-content-image-box {
	overflow: hidden;
	padding-right: 0;
	padding-left: 0;
}

.homepage-content-image {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	height: 100%;
	width: 100%;
	text-align: center;
	text-rendering: optimizeLegibility;
	cursor: pointer;
}

.homepage-content-image:hover {
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')";
	/* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0,
		M22=1.2, SizingMethod='auto expand' ); /* IE6 and 7 */
}

.homepage-logo {
	background-color: #fff;
}

.homepage-content1 {
	background: linear-gradient(#102765, rgba(0, 0, 0, 0.55) ),
		url("../../resources/pics/house3.jpg") no-repeat center;
	background-size: cover;
}

.homepage-content2 {
	background: linear-gradient(#5D8C07, rgba(0, 0, 0, 0.55) ),
		url("../../resources/pics/house2.jpg") no-repeat center;
	background-size: cover;
}

.homepage-content3 {
	background: linear-gradient(#7B0744, rgba(0, 0, 0, 0.55) ),
		url("../../resources/pics/house4.jpg") no-repeat center;
	background-size: cover;
}

.homepage-content4 {
	background: linear-gradient(#976808, rgba(0, 0, 0, 0.55) ),
		url("../../resources/pics/house1.jpg") no-repeat center;
	background-size: cover;
}

.homepage-content{	
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	
	min-height: 50%;
	min-height: 50vh;
	padding: 0;
    margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.homepage-content:hover {
	transform: scale(0.84);
	-moz-transform: scale(0.84);
	-webkit-transform: scale(0.84);
	-o-transform: scale(0.84);
	-ms-transform: scale(0.84); /* IE 9 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0, M22=0.84, SizingMethod='auto expand')";
	/* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.84, M12=0, M21=0,
		M22=0.84, SizingMethod='auto expand' ); /* IE6 and 7 */
}




.homepage-content-logo{
}


.flex-row {
    width: auto;
}
.flex-item {
    padding: 0.1em;
    line-height: 100%;
    text-align: center;
}

.homepage-content-desc{
	color:#fff;
}

.login-container {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	height: 100%;
	width: 100%;
	margin-top: 0%;
}

.login-container:hover {
	margin-top: -62%;
}

.top-alert{
	z-index: 2000;
	position:absolute;
	margin-top:2%;
	margin-left:15%;
    width: 70%;
}

.hidden{
	display:none !important;
}

.navbar-content{
	padding : 0rem 0rem !important;
}

.nav-item-border{
	padding-left :.5rem !important;
	padding-right:.5rem !important;
	border-top: 2px solid var(--header-color);
	border-bottom: 2px solid var(--header-color);
}

.nav-item-border:hover{
	border-top: 2px solid var(--main-color);
	border-bottom: 2px solid var(--main-color);
}

.navbar-brand-header{
	padding:0rem;
}

.navbar-brand-footer{
	padding:0rem;
	margin-left:35%;
}

.navbar-brand-header-text{
	display:inline-block;
	padding-top: .324rem;
    padding-left: .4rem;
    font-size: 2rem;
}

.navbar-brand-footer-text{
	display:inline-block;
	padding-top: 0rem;
    padding-left: .4rem;
    font-size: 1.2rem;
}

.footer-link{
	color : #0275d8 !important;
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
	padding-left: 1rem !important;
}

.footer-link:hover{
	color : #024379 !important;
}

.dropdown-divider{
	background-color : var(--main-color) !important;
}